@import './iconfont.css';

html,body{
 
}
body{
  font:14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
img{
  max-width: 100%;
}

/**
 *清除滚动条影响
 */
html {
  overflow-y: scroll; /* for IE8 */
}
:root {
  overflow-y: auto;
  overflow-x: hidden;
}
:root body {
  position: absolute;
}
body {
  width: 100vw;
} 