/**
 *全局变量
 */
@common-color:#309bee;
@common-color-light:#4fafeb;

@common-bg-height:60vh;//1920x600;31.25vw
@common-fullscreen-height:100vh;//1920*1000;52vw 800px
@common-subpage-head:400px;//1920x500;26vw
@flexible-footerlink-head:20vh;

@header-bg-color:#f8f8f8;

.mixin-bg(@url;@height:0;@repeat:no-repeat;@position:center;@size:100% 100%){
  background-image: @url;
  background-repeat: @repeat;
  background-position: @position;
  background-size: @size;
  @media only screen and (max-width:768px){
    background-size:auto 100%;
  }
  height: @height;
}
.mixin-flexiable-bg(@url,@height,@repeat:no-repeat,@position:center,@size:auto 100%){
  @media only screen and (max-width:768px){
    .mixin-bg(@url, @height, @repeat, @position, @size);
  }
}
.mixin-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
/**
 *统一标题大小
 */
@home-head:3em;
@home-subHeadCont:1.4em;
@home-fullscreen-pic:692px;//45vw 692px 
@home-swiper-bg-height:480px;
.mixin-h(@fs:@home-head;@fw:400;@lh:1.5){
  font-size: @fs;
  font-weight: @fw;
  line-height: @lh;
}
/**
 *主页
 */
@home-fs-color:#666464;
@home-fs-color-lighter:#b4b3b3;
@home-fs-color-deeper:#3b3b3b;
@home-bg-color:#fafafa;
/**
 *城市合伙人
 */
@citypnr-head-fsize:1.8em;
@citypnr-lh:2.4;
//mixin
.mixin-content{
  padding: 80px 0;
  @media only screen and (max-width:768px){
    padding:20px 0;
  }
}
/**
 *页脚
 */
@footer-color:#c5c3c3;

/**
* MainModel
*/
@active-bg-color:white;
@border-bottom-color:#d1d1d1;

/*
**
****************************************************************************************************************************
**背景图片
**
**
**/

/*
**home
*/
@home-swiperpic1-url: url(/static/img/home/swiper/banner1.png);
@home-swiperpic2-url: url(/static/img/home/swiper/banner2.jpg);
@home-swiperpic3-url: url(/static/img/home/swiper/banner3.jpg);

@home-descpic1-url: url(/static/img/home/pic/eg1.jpg);
@home-descpic2-url: url(/static/img/home/pic/eg2.jpg);
@home-descpic3-url: url(/static/img/home/pic/eg3.jpg);
@home-descpic4-url: url(/static/img/home/pic/eg4.jpg);
@home-descpic5-url: url(/static/img/home/pic/eg5.jpg);

/*
**model
*/
@model-bg-url: url(/static/img/model/background.jpg);

/*
**prodFun
*/
@prodFun-bg-url: url(/static/img/prodfunc/background.jpg);

/*
**prodFeat
*/
@prodFeat-bg-url: url(/static/img/prodfeat/background.jpg);

/*
**appscene
*/
@appscene-swiperbg1-url: url(/static/img/appscene/slide1-bg.jpg);
@appscene-swiperbg2-url: url(/static/img/appscene/slide2-bg.jpg);
@appscene-swiperbg3-url: url(/static/img/appscene/slide3-bg.jpg);

/*
**citypnr
*/
@citypnr-header-url: url(/static/img/citypnr/bg-header.jpg);
@citypnr-spot-header-url: url(/static/img/citypnr/spot/bg-spot.jpg);
@citypnr-apply-header-url: url(/static/img/citypnr/bg-apply.jpg);
@citypnr-footer-url: url(/static/img/citypnr/bg-footer.jpg);

/*
**footerlink
*/
@footerlink-aboutus-header-url:url(/static/img/home/aboutus.jpg);
@footerlink-contactus-header-url:url(/static/img/home/contactus.jpg);
@footerlink-download-bg-url:url(/static/img/home/download.jpg);
@footerlink-faq-header-url:url(/static/img/home/salepolicy.jpg);
@footerlink-joinus-header-url:url(/static/img/home/joinus.jpg);
@footerlink-salepolicy-header-url:url(/static/img/home/salepolicy.jpg);